body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Do Hyeon', sans-serif;
}

.App{
  max-width:100%;
  width:100%;
  box-sizing: border-box;
  padding:30px;
}


/* APP BAR */
.app-bar-btn{
  cursor: pointer;
  padding:5px;
  border-radius:5px;
  color:#363636;
}

.selected{
  text-decoration: underline;
}

.app-bar-btn:hover{
  transition:0.3s;
  color:#FFF;
  border:1px solid gray;
  background:#209CEE;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
